// Customization
@import 'styles/settings';

// Core functions, variables and mixins
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Root
@import '~bootstrap/scss/root';

// Reset
@import '~bootstrap/scss/reboot';

// Core CSS
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/grid';

// Components
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';

// Utility classes
@import '~bootstrap/scss/utilities/background';
@import '~bootstrap/scss/utilities/borders';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/text';

// Dark mode
@import 'styles/dark-mode';

// Popup style
@import 'styles/additions';

// Spinner
@import 'styles/spinner';
