version: 2
references:
  base: &base
    docker:
      - image: circleci/node:14.2.0
    working_directory: ~/tickety-tick
jobs:
  setup:
    <<: *base
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}-{{ arch }}
      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}-{{ arch }}
          paths:
            - node_modules
      - save_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/tickety-tick
  lint:
    <<: *base
    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run Linter
          command: yarn lint --format junit -o reports/eslint/results.xml
      - store_test_results:
          path: reports
  stylelint:
    <<: *base
    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run SCSS Linter
          command: mkdir -p reports/stylelint && yarn stylelint --custom-formatter node_modules/stylelint-junit-formatter -o reports/stylelint/results.xml
      - store_test_results:
          path: reports
  test:
    <<: *base
    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run Tests
          command: yarn test --maxWorkers=2 --ci --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: reports/jest/results.xml
      - store_test_results:
          path: reports
workflows:
  version: 2
  checks:
    jobs:
      - setup
      - lint:
          requires:
            - setup
      - stylelint:
          requires:
            - setup
      - test:
          requires:
            - setup
