version: "2.1"

definitions:
  pwd: &pwd ~/tickety-tick

executors:
  base:
    docker:
      - image: circleci/node:14.15.4
    working_directory: *pwd

commands:
  restore_pwd:
    description: Restore working directory
    steps:
      - restore_cache:
          key: pwd-{{ .Environment.CIRCLE_SHA1 }}

  save_pwd:
    description: Save working directory
    steps:
      - save_cache:
          key: pwd-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - *pwd

  restore_deps:
    description: Restore dependencies
    steps:
      - restore_cache:
          key: dependency-cache-v2-{{ arch }}-{{ checksum "yarn.lock" }}

  save_deps:
    description: Save dependencies
    steps:
      - save_cache:
          key: dependency-cache-v2-{{ arch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

jobs:
  setup:
    executor: base
    steps:
      - checkout
      - restore_deps
      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile
      - save_deps
      - save_pwd

  lint:
    executor: base
    steps:
      - restore_pwd
      - run:
          name: Run Linter
          command: yarn lint --format junit -o reports/eslint/results.xml
      - store_test_results:
          path: reports

  stylelint:
    executor: base
    steps:
      - restore_pwd
      - run:
          name: Run SCSS Linter
          command: mkdir -p reports/stylelint && yarn stylelint --custom-formatter node_modules/stylelint-junit-formatter -o reports/stylelint/results.xml
      - store_test_results:
          path: reports

  test:
    executor: base
    steps:
      - restore_pwd
      - run:
          name: Run Tests
          command: yarn test --maxWorkers=2 --ci --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: reports/jest/results.xml
      - store_test_results:
          path: reports

workflows:
  version: 2.1
  checks:
    jobs:
      - setup
      - lint:
          requires:
            - setup
      - stylelint:
          requires:
            - setup
      - test:
          requires:
            - setup
