// Popup

.popup {
  width: 290px;
}

// Buttons

.btn {
  // stylelint-disable-next-line block-no-empty
  .btn-label {
  }

  .btn-label-conceal {
    display: none;
  }

  &:active .btn-label-conceal,
  &:focus .btn-label-conceal,
  &:hover .btn-label-conceal {
    display: initial;
  }
}

// Logo

.logo {
  height: 1em;
}

// Octicons
//
// These styles are normally set directly on the SVG element by the official
// React wrapper for Octicons. However, inline style attributes are blocked by
// the extension's Content Security Policy — in Firefox at least. Therefore we
// simply (re-)define them here so they are applied correctly.
//
// Source code reference: https://git.io/fxK7X
// CSP: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/style-src

.octicon {
  display: inline-block;
  fill: currentColor;
  user-select: none;
  vertical-align: text-top;
}

.octicon-nav {
  margin-top: -0.0625em;
}
