$dark-bg: #292a2d;

$dark-input-bg: $dark-bg;
$dark-input-color: $gray-300;
$dark-input-border-color: $gray-600;

@media (prefers-color-scheme: dark) {
  body {
    background: $dark-bg;
    color: $gray-100;
  }

  .border-bottom {
    border-color: $gray-600 !important;
  }

  .navbar-light {
    .navbar-brand {
      color: $navbar-dark-brand-color;

      @include hover-focus() {
        color: $navbar-dark-brand-hover-color;
      }
    }

    .navbar-nav {
      .nav-link {
        color: $navbar-dark-color;

        @include hover-focus() {
          color: $navbar-dark-hover-color;
        }

        &.disabled {
          color: $navbar-dark-disabled-color;
        }
      }

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $navbar-dark-active-color;
      }
    }

    .navbar-text {
      color: $navbar-dark-color;

      a {
        color: $navbar-dark-active-color;

        @include hover-focus() {
          color: $navbar-dark-active-color;
        }
      }
    }
  }

  .form-control {
    color: $dark-input-color;
    background-color: $dark-input-bg;
    border-color: $dark-input-border-color;

    &:disabled,
    &[readonly] {
      background-color: lighten($dark-bg, 0.1);
    }

    &:focus {
      color: $dark-input-color;
      background-color: $dark-input-bg;
      border-color: $dark-input-border-color;
    }
  }
}
