.spinner {
  margin: 2rem auto;
  width: 4rem;
  text-align: center;
}

.spinner > .bounce {
  width: 1rem;
  height: 1rem;
  margin: 0.125rem;
  background-color: $gray-500;
  border-radius: 100%;
  display: inline-block;
  animation: spinner-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce-1 {
  animation-delay: -0.32s;
}

.spinner .bounce-2 {
  animation-delay: -0.16s;
}

@keyframes spinner-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
