body {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #c32f34;
}

:focus {
  outline: none;
  text-decoration: underline;
}

#content {
  width: 250px;
  height: 200px;
}

h1 {
  font-size: 1.1em;
  font-weight: 1.1;
}

.button-list {
  max-height: 165px;
  overflow: scroll;
  list-style: none;
  padding: 0px;
}

.button-list li {
  margin-bottom: 8px;
  color: white;
}

.ticket-list {
  padding: 0px;
}

.ticket-list li {
  background: url(../icons/icon-16.png) no-repeat 0px 0px transparent;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 5px 25px;
  vertical-align: middle;
}

.button-list li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 8px;
  background-color: #c32f34;
}

.to-select {
  text-decoration: none;
  color: #c32f34;
}

#footer {
  padding-bottom: 20px;
}

#footer .name {
  float: left;
}

#footer .company {
  float: right;
}
