body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.popup {
  width: 270px;
  height: 240px;
  margin: 0;
  padding: 0;
}

.container {
  padding: 5px;
}

.header {
  border-bottom: 1px solid #ccc;
  min-height: 22px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
}

.header-actions {
  flex: 3;
}

.header-info {
  text-align: right;
  flex: 1;
}

.action-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.action-list-item {
  display: inline-block;
  padding: 0 4px 0 0;
  float: left;
}

.content {
  height: 207px;
  overflow-y: auto;
}

.ticket-list {
  padding: 0;
  margin: 0;
}

.ticket-list-item {
  border-bottom: 1px solid #ddd;
  margin: 0;
  list-style-type: none;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}

.ticket-list-item:last-child {
  border-bottom: 0;
}

.ticket-list-item-content {
  flex: 3;
}

.ticket-list-item-actions {
  flex: 1;
}

.copy-button {
}

.no-tickets {
  text-align: center;
}

.no-tickets-heading {
  margin: 1em 0;
}

.about {
}

.about-heading {
  margin-top: 0;
}
