body {
  padding: 0.5rem;
}

// Input checkbox on the options page
//
// Firefox glitches if we don't set the margin manually.
.input-checkbox {
  margin: 0 2px !important;
}

.mw-100ch {
  max-width: 100ch;
}
